body {
    background: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

option {
    height: 2em;
}

.navbar{
    background-color: #14213D;
    text-align: center;
    color: white;
    font-size: 20px;
    opacity: 50%;
}

