<!DOCTYPE html>
<html>
<body style="background-image:url('static/pythongirls.jpg');">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='website.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script> src="https://code.jquery.com/jquery-3.2.1.slim.min.js" </script>
    <script> src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" </script>
    <script> src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" </script>
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'/>
  <style>
    body {  font-family: 'Cutive Mono'; font-size: 20px; font-style: normal; color: #203864;
  }
</style>
</head>

<body>
  <div class="navbar">
      <div class="nav">
      <a href="#about_us">About Us</a>
      <a href="#inspiration">Inspiration</a>
      <a href="#work_experience">Work Experience</a>
      <a href="#training">Training</a>
      <a href="#jobs">Jobs</a>
      <a href="#signup">Sign Up</a>
      <a href="#motivation">Motivation</a>
    </div>
  </div>

<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
<meta name="viewport" content="width=device-width, initial-scale=1">
.fa-linkedin {
  background: #007bb5;
  color: white;
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<a href="https://www.w3schools.com/html/">Visit our HTML tutorial</a>

.fa:hover {
    opacity: 0.7;
}


  <style>
    body {  font-family: 'Cutive Mono'; font-size: 20px;
  }
  </style>
</head>

<body>
  <div id="signup">
  <div class="container">

      <h1> Welcome to our site! </h1>
      <h2> We all stared excitedly at our CodeFirst: Girls tutors, keen to absorb everything they had to teach us since this was the first time we'd ever coded Python and thought we would master it since we did oh-so-well at our previous HTML, CSS and JavaScript course. Turns out it wasn't so easy. But we powered through with our confused spirits. The minute they mentioned the competition, we knew this was our moment. To showcase everything we had learnt from the past 7 weeks. It all boiled down to this. Our skill sets, sense of humour, keen-ness brought us together. So here we are....presenting you with Creative Finder! </h2>

      <h2> The title says it all - Creativity finder is a collaborative project supporting young Londoners to follow their creative dreams. It takes the concept of a work life balance and encourages aspiring creatives to fuel their passions by attending inspirational events, socialising with like minded people and hearing from positive role models. It’s also a place to seek advice, network with industry professionals, find work experience and search for jobs.</h2>

      <h1> Get to know the team! </h1>

      <!-- Add icon library -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <!-- Add font awesome icons -->
      <a href="#" class="fa fa-Linkedin"></a>

      <style>
        table, th, td {
          border: 5px solid pink;
        }
        th, td {
          padding: 10px;
        }
        </style>
          <table style="width:100%">

            <<tr>
              <td>Alicia Garcia Rodriguez - Process Sherpa <a href="https://www.linkedin.com/in/vodriguez/">Check me out</a></td>
              <td>I consider myself to be a Python disruptionist, who is seeking technological nirvana. I split my time between living in my yurt and selling my organic yak yoghurts at farmer's markets and ensuring my chakras are balanced, and furiously troubleshooting html and writing bad code with hopes to use my coding skills for good. I would describe myself as: determined, eager, clueless.</td>
              <td><img src="static/alice.jpg" alt="This is me" width="500px"></td>
            </tr>
            <tr>
              <td>Sanam Balani - Engagement Tinkerer <a href="https://uk.linkedin.com/in/sanam-balani-16829061">Check me out</a></td>
              <td>A city-loving Financial Associate on the outside, and tech junkie and hipster on the inside - looking to merge my Type A and B personalities into one to do what I do best which is understanding what makes people tick and helping them achieve their goals through connecting with likeminded individuals. Self-described as driven, curious, and emotionally intelligent.</td>
              <td><img src="static/sanam.jpg" alt="This is me" width="500px"></td>
            </tr>
            <tr>
              <td>Laura Turner-Blake - Creative Visioner <a href="https://www.linkedin.com/in/laura-turner-blake-8bbb0b8b">Check me out</a></td>
              <td>Passionate about working with young people and supporting people to realise their potential is part of the day job. Started coding just for fun! Known for my infectious loud laugh, love of Japanese culture and hanging out in my hammock.</td>
              <td><img src="static/laura2.jpg" alt="This is me" width="500px"></td>
            </tr>
            <tr>
              <td>Angela Rose - Ray of sunshine< <a href="https://www.linkedin.com/in/angela-rose-5038a1120/">Check me out</a></td>
              <td>Loves to put a creative twist in everything and enjoys a group effort towards something awesome. An enthusiastic and positive ray of sunshine</td>
              <td><img src="static/angie.jpg" alt="This is me" width="500px"></td>
            </tr>
          </table>


      <h1> Subscribe for updates! </h1>
      <form id="subscribeForm" action="/send" method="post">
        <br>
        <input type="text" placeholder="First Name"><br>
        <input type="text" placeholder="Last Name"><br>
        <input id="email" type="email" placeholder="Email address" name="email"><br>
        <input type="radio" name="reason" value="Interests" checked> Interests<br>
        <input type="radio" name"reason" value="Submission"> I want to add an opportunity not listed on the site<br>
        <textarea rows="4" cols="50" placeholder="Any other information type here :)" name="details"></textarea>
        <br>
        <input type="submit" value="Submit" name="submit-button">

      </form>

      <!-- <script>
      document.getElementById("subscribeForm").onsubmit = function() {myFunction()};
      function myFunction() {
          //alert("Please check your inbox for your confirmation email!");
          //mailto:test@example.com?subject=subject&body=body

          var email = document.getElementById("email_id").value;
          //alert(email);
          var mail_string = 'mailto:' + email + '?subject=subject&body=body';
          window.open(mail_string);
      }
      </script> -->
      </div>

      <ul>
        <li><a class="homepage" href="Homepage.html">Back to Homepage</a></li>
      </ul>



</body>

</html>
