{% extends "layout.html" %}

{% block title %} {{ super() }} {% endblock %}

{% block content %}

     {% if name %}
        <p>Hello {{name}}!</p>
     {% else %}
        <p>Hello anonymous person!</p>
     {% endif %}
        <p>Let's keep in touch</p>
     <div id="contact-form">
        <form method="post" action="/signup">
           <label for="email">Email address:</label>
           <input type="email" id="email" name="email" required="required">
           <input type="submit" value="submit" id="submit-button">
        </form>
     </div>
{% endblock %}
