<!DOCTYPE html>
<html>
<head>
  </head>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='website.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'/>
<style>
body {font-family: 'Cutive Mono'; font-size: 20px;}
</style>

<body>

	<ul>
		<li><a class="inspiration" href="inspiration.html">Inspiration</a></li>
		<li><a class="work_experience" href="#">Work Experience</a></li>
		<li><a class="training" href="#">Training</a></li>
		<li><a class="jobs" href="jobs.html">Jobs</a></li>
		<li><a class="advice" href="#">Advice</a></li>
		<li><a class="motivation" href="#">Motivation</a></li>
    <li><a class="about_us" href="#">About Us</a></li>
	</ul>
</body>
<html>

<img src="{{ url_for('static', filename='LOGO.png') }}" alt="logo" style="position:absolute; TOP: 280px; right: 540px; width:250px;height:140px;">
