<div class="circle-menu">
    <link rel="stylesheet" type="text/css" href="website.css" media="screen" />
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'>
<style>
body   {  font-family: 'Cutive Mono';font-size: 20px;
}
</style>
</body>

	<ul>
		<li><a class="inspiration" href="#">Inspiration</a></li>
		<li><a class="work_experience" href="#">Work Experience</a></li>
		<li><a class="training" href="#">Training</a></li>
		<li><a class="jobs" href="#">Jobs</a></li>
		<li><a class="advice" href="#">Advice</a></li>
		<li><a class="motivation" href="#">Motivation</a></li>
    <li><a class="about_us" href="#">About Us</a></li>
	</ul>
</div>

<img src="LOGO.png" alt="logo" style="position:absolute; TOP: 300px; right: 550px; width:220px;height:120px;">
