{% extends "layout.html" %}

{% block title %} {{ super() }} {% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">

        <script>

  var allLocations = {{ locations | safe }}  ;

    function setValues() {
      const selector = document.getElementById("locationSelect");
      const locationJsonInfo = allLocations[selector.selectedIndex];
      document.getElementById("locationTitle").innerHTML = locationJsonInfo.name;
      document.getElementById("locationPhoto").innerHTML = locationJsonInfo.photo_url;
      document.getElementById("locationDescription").innerHTML = locationJsonInfo.description;
      document.getElementById("locationReview").innerHTML = JSON.stringify(locationJsonInfo.review);
    }

    function selectedLocation() {
      const selector = document.getElementById("locationSelect");
      console.log("selected stuff: "+selector.selectedIndex+" "+selector.value);
      const location =  selector.value
      const url = `https://maps.googleapis.com/maps/api/geocode/json?address=${location}&key=AIzaSyDnB3tMLA1yXIx_lRB4G0A3EOPHSA-yga0`
      fetch(url)
        .then(res => {
          return res.json()
        })
        .then(response => {
          const location = response.results[0]

          const mapSrc = `https://www.google.com/maps/embed/v1/place?q=place_id:${location.place_id}&key=AIzaSyDnB3tMLA1yXIx_lRB4G0A3EOPHSA-yga0`
          document.getElementById('map').src = mapSrc

          //update from our data only, not google api which is only used for the map
          setValues();
        })
        .catch(console.log)
    }


        </script>

        <iframe
                id="map"
                width="560"
                height="440"
                frameborder="0"
                style="border:0"
                src=""
                allowfullscreen
        ></iframe>

    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div class="row-md-4">
            <div class="form-group">
                 <a class="btn btn-warning pull-right" rel="noopener noreferrer" href="add-location" role="button">Add a new location</a>
                <br><br>
                <label for="locationSelect"></label>
                <select class="form-control" id="locationSelect" onchange="selectedLocation()" onmousedown="if(this.options.length>4){this.size=4;}" onblur="this.size=0;">
                    {% for location in locations %}
                    <option>{{location['name']}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row-md-1 line_container"><div class="line"></div></div>
        <div class="row-md-7">
            <br><br>
                <label id="locationTitle">title</label>
            <label id="locationDescription">description</label>
            <label id="locationPhoto">photo</label>
            <label id="locationReview">photo</label>
        </div>

        <div class="row">
            <div class="column-8 column-sm-6">

            </div>
            <div class="column-4 column-sm-6">

            </div>


        </div>

    </div>
    <script type="text/javascript">
   selectedLocation();

    </script>

    {% endblock %}
