<!DOCTYPE html>
<html>
<head>
<div class="circle-menu">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='website.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  body {  font-family: 'Cutive Mono'; font-size: 20px;
}
</style>
</head>

<body>
	<ul>
        <li><a class="tate_lates" href="www.tate.org.uk/whats-on/tate-modern/late/uniqlo-tate-lates" target="_blank">Tate Lates</a></li>
        <!-- <li><a onclick="window.open('http://www.tate.org.uk/whats-on/tate-modern/late/uniqlo-tate-lates', '_blank')">Tate Lates</a></li> -->
    		<li><a class="Walthamstow_Garden_Party" href="www.walthamstowgardenparty.com/" target="_blank">Walthamstow Garden Party</a></li>
    		<li><a class="Great_Get_Together" href="www.queenelizabetholympicpark.co.uk/whats-on/events/2017/06/the-great-get-together" target="_blank">Great Get Together</a></li>
    		<li><a class="Art_Night" href="www.2019.artnight.london/" target="_blank">Art Night</a></li>
    		<li><a class="VA_Friday_Late" href="www.vam.ac.uk/info/friday-late?gclid=CjwKCAjw-ZvlBRBbEiwANw9UWhB_jbVnFvr43xESYlRnESm4R9srp24DEBmsv5HgDj5vDM-HNajPHRoCGJ8QAvD_BwE" target="_blank">V&A Friday Late</a></li>
    		<li><a class="Black_Girl_Fest" href="www.blackgirlfest.com/" target="_blank">Black Girl Fest</a></li>
        <li><a class="about_us" href="about_us.html">About Us</a></li>
	</ul>
</div>

<img src="{{ url_for('static', filename='LOGO.png') }}" alt="logo" style="position:absolute; TOP: 280px; right: 540px; width:250px;height:140px;">
</body>

</html>
