<!DOCTYPE html>
<html>
<div class="circle-menu">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='website.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'/>
<style>
  body {  font-family: 'Cutive Mono'; font-size: 20px;
}
</style>
  </body>

	<ul>
    <li><a class="inspiration" href="inspiration.html">Inspiration</a></li>
		<li><a class="Walthamstow_Garden_Party" href="http://www.walthamstowgardenparty.com/">Walthamstow Garden Party</a></li>
		<li><a class="Great_Get_Together" href="https://www.queenelizabetholympicpark.co.uk/whats-on/events/2017/06/the-great-get-together">Great Get Together</a></li>
		<li><a class="Art_Night" href="http://2019.artnight.london/">Art Night</a></li>
		<li><a class="VA_Friday_Late" href="https://www.vam.ac.uk/info/friday-late?gclid=CjwKCAjw-ZvlBRBbEiwANw9UWhB_jbVnFvr43xESYlRnESm4R9srp24DEBmsv5HgDj5vDM-HNajPHRoCGJ8QAvD_BwE">V&A Friday Late</a></li>
		<li><a class="Black_Girl_Fest" href="www.blackgirlfest.com/">Black Girl Fest</a></li>
    <li><a class="about_us" href="about_us.html">About Us</a></li>
	</ul>
</div>

<img src="{{ url_for('static', filename='LOGO.png') }}" alt="logo" style="position:absolute; TOP: 280px; right: 540px; width:250px;height:140px;">

</html>
