<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='website.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </script>

  <style>
    body {  font-family: 'Cutive Mono'; font-size: 20px; font-style: normal; color: #fa7f00;
  }
  </style>
  </head>

<body>
  <div class="navbar">
    <a href="#" class="logo" src="LOGO.png" alt="logo">
    <div class="nav">
      <a href="#about_us">About Us</a>
      <a href="#inspiration">Inspiration</a>
      <a href="#work_experience">Work Experience</a>
      <a href="#training">Training</a>
      <a href="#jobs">Jobs</a>
      <a href="#signup">Sign Up</a>
      <a href="#motivation">Motivation</a>
    </div>
  </div>

  <script>
window.onscroll = function() {myFunction()};

var navbar = document.getElementById("navbar");
var sticky = navbar.offsetTop;

function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

	<ul>
		<ul><a class="create_jobs" href="https://www.createjobslondon.org/young-creatives">Create Jobs</a></ul>
		<ul><a class="create_access" href="https://creativeaccess.org.uk/">Creative Access</a></ul>
		<ul><a class="creative_choices" href="https://ccskills.org.uk/careers/jobs">Creative Choices</a></ul>
		<ul><a class="arts_jobs" href="http://www.artsjobs.org.uk/arts-jobs-listings/">Arts Jobs</a></ul>
		<ul><a class="arts_professional" href="http://www.artsjobs.org.uk/arts-jobs-listings/">Arts Professional</a></ul>
		<ul><a class="guardian_jobs" href="http://jobs.theguardian.com/jobs/">Guardian Jobs</a></ul>
	</ul>
</div>

<img src="{{ url_for('static', filename='LOGO.png') }}" alt="logo" style="position:absolute; TOP: 280px; right: 540px; width:250px;height:140px;">
</body>

</html>
