<!doctype html>
<div class="circle-menu">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='website.css') }}">
    <link href='https://fonts.googleapis.com/css?family=Cutive Mono' rel='stylesheet'/>
<style>
  body {  font-family: 'Cutive Mono'; font-size: 20px;
}
</style>
  </body>

	<ul>
		<li><a class="Create Jobs" href="https://www.createjobslondon.org/young-creatives">Create Jobs</a></li>
		<li><a class="Creative Access" href="https://creativeaccess.org.uk/"></a>Creative Access</li>
		<li><a class="Creative Choices" href="https://ccskills.org.uk/careers/jobs">Creative Choices</a></li>
		<li><a class="Arts Jobs" href="http://www.artsjobs.org.uk/arts-jobs-listings/"></a>Arts Jobs</li>
		<li><a class="Arts Professional" href="http://www.artsjobs.org.uk/arts-jobs-listings/">Arts Professional</a></li>
		<li><a class="Guardian Jobs" href="http://jobs.theguardian.com/jobs/">Guardian Jobs</a></li>
    <li><a class="about_us" href="about_us.html">About Us</a></li>
	</ul>
</div>

<img src="{{ url_for('static', filename='LOGO.png') }}" alt="logo" style="position:absolute; TOP: 280px; right: 540px; width:250px;height:140px;">
