<!DOCTYPE html>
<html>

   <head>
     <title>{% block title %} Find Your Favourite Study Space {% endblock %}</title>
     <link rel="stylesheet" type="text/css" href="/static/main.css">
  </head>

  <body>
    <div class="navbar">
  <ul>
    <li><a rel="noopener noreferrer" href="/">Index</a></li>
    <li><a rel="noopener noreferrer" href="add-location">Add a new location</a></li>
    <li><a rel="noopener noreferrer" href="about">About</a></li>
  </ul>
</div>
       {% block content %} something something {% endblock %}
  </body>
</html>
