<!DOCTYPE html>
<html>

   <head>
     <title>{% block title %} Find Your Favourite Study Space {% endblock %}</title>
     <link rel="stylesheet" type="text/css" href="/static/style.css">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
     <script src="/static/script.js" ></script>
  </head>

  <body>

  <div class="container">
  <!-- Content here -->

  <div class="navbar">
  <ul>
    <li><a rel="noopener noreferrer" href="/">Find your favourite study space |</a></li>
    <li><a rel="noopener noreferrer" href="about">About</a></li>
  </ul>
</div>


{% block content %} something for 'super' {% endblock %}
</div>
  </body>
</html>
