{% extends "layout.html" %}

{% block title %} {{ super() }} {% endblock %}

{% block content %}

  <script>

    function setValues(location) {
      console.log(document.getElementById("locationTitle"))
      document.getElementById("locationTitle").innerHTML = location.formatted_address
    }

    function selectedLocation() {
      const location =  document.getElementById("locationSelect").value
      const url = `https://maps.googleapis.com/maps/api/geocode/json?address=${location}&key=AIzaSyDnB3tMLA1yXIx_lRB4G0A3EOPHSA-yga0`
      fetch(url)
        .then(res => {
          return res.json()
        })
        .then(response => {
          const location = response.results[0]

          const mapSrc = `https://www.google.com/maps/embed/v1/place?q=place_id:${location.place_id}&key=AIzaSyDnB3tMLA1yXIx_lRB4G0A3EOPHSA-yga0`
          document.getElementById('map').src = mapSrc

          setValues(location)
        })
        .catch(console.log)
    }
  </script>

  <select id="locationSelect" onchange="selectedLocation()">
    {% for location in locations %}
      <option>{{location['name']}}</option>
    {% endfor %}
  </select>
    <iframe
      id="map"
      width="600"
      height="450"
      frameborder="0"
      style="border:0"
      src=""
      allowfullscreen
    />
    <div>
      <p id="locationTitle"></p>
    </div>

{% endblock %}
